Package: com.sassoty.definecopy
Name: Define&Copy
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Copy when defining a word in any text box
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.definecopy
